

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: #383838;
}


/* --------------------------------------------------- hero-header section -------------------------------------- */

#hero {
  background-image: url('../assets/imgs/hero.png');
  background-position: center;
  background-size:40%;
  height: 20vh;
}
section#hero .header {
  display: flex;
  padding: 35px 0;
  align-items: center;
}

.main-menu {
  width: 50%;
}

.close-menu,
.open-menu {
  display: none;
}

.open-menu i {
  font-size: 35px;
  color: white;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  padding: 0 10px;
  list-style: none;
}

.main-menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #979696;
  font-size: 18px;
}

.main-menu #lang {
  margin-right: 45px;
  color: white;
  text-decoration: none;
}

.logo {
  width: 50%;
  text-align: right;
}


/* --------------------------------------------------- porfolio section -------------------------------------- */
section#portfolio {
  margin-left: 100px;
  margin-right:100px ;
}
.gal {
	-webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
}
	.gal img{ width: 100%; padding: 7px 0;}

  section.overlay-section {
    position: relative;
  }

  section.overlay-section:hover {
    transition: background-color ease 1s;
  }
  
  section.overlay-section:hover section {
    visibility: visible;
  }
  
  section.overlay-section section {
    background-color: #f19323;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0.9;
  }
  
  section.overlay-section section h3,
  section.overlay-section section p {
    color: white;
  }

  #portfolio .row { 
    margin-right: 200px;
    margin-left: -80px;
  }

    

/* --------------------------------------------------- footer section -------------------------------------- */

footer {
  background-color: #7ab1be;
  height: 300px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.8;
}
/* --------------------------------------------------- mobile section -------------------------------------- */

@media only screen and (max-width: 600px) {
  #hero {
    background-image: url('../assets/imgs/hero.png');
    background-size:200%;
    height: 15vh;
  }
  
  .menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #535353;
    transition: top 1s ease;
    display: none;
  }

  .main-menu ul {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .main-menu ul li {
    padding: 7px 0;
  }

  .main-menu ul li a {
    color: white;
    font-size: 20px;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .open-menu {
    display: block;
  }
  .main-menu #lang {
    margin-right: 1px;
  }
.gal {
	-webkit-column-count: 1; 
  -moz-column-count: 1; 
  column-count: 1;
}
.gal video {
  width: 410px;
  height: 410px;
}

}
