@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  padding: 0;
  background: #535353 !important;
}

/* --------------------------------------------------- hero-header section -------------------------------------- */

#hero {
  background-image: url('../../assets/imgs/hero.png');
  background-position: right;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 100vh;
}
section#hero .header {
  display: flex;
  padding: 35px 0;
  align-items: center;
}

.main-menu {
  width: 50%;
}

.close-menu,
.open-menu {
  display: none;
}

.open-menu i {
  font-size: 35px;
  color: white;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li {
  padding: 0 10px;
  list-style: none;
}

.main-menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #979696;
  font-size: 20px;
}

.main-menu #lang {
  margin-right: 45px;
  color: white;
  text-decoration: none;
}

.logo {
  width: 50%;
  text-align: right;
}

/* --------------------------------------------------- Hero Section -------------------------------------- */

section.hero-text {
  padding: 160px 0 330px 0;
  text-align: right;
}

.hero-text h2 {
  color: white;
  padding: 10px 0;
  font-size: 55px;
  font-weight: 400;
}

.hero-text h1 {
  color: #d51f26;
  font-size: 65px;
  margin-bottom: 40px;
}

.hero-text a {
  color: #3d4546;
  text-decoration: none;
  font-weight: bold;
  background-color: #7ab1be;
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 25px;
}

/* --------------------------------------------------- About Section -------------------------------------- */

section#about {
  padding-bottom: 250px;
}

#about .about-content {
  display: flex;
  align-items: center;
}

.about-text {
  text-align: right;
  margin-right: 50px;
}

.about-text div {
  padding-right: 20px;
  border-right: 5px solid #eb9125;
  color: white;
}

.about-text h1 {
  font-size: 40px;
}

.about-text p {
  padding-top: 50px;
  padding-right: 20px;
  color: #7d7c7c;
  font-size: 30px;
}

/* --------------------------------------------------- Services Section -------------------------------------- */

.services-contet {
  display: flex;
}

.services-text.services-mob {
  display: none;
}

.services-text {
  flex-grow: 1;
}

.services-boxs {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 35px;
  row-gap: 50px;
  justify-content: center;
  padding-left: 100px;
}

.first-column {
  text-align: right;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 35px 0;
}

.box:hover {
  height: 300px;
  transition: height 0.7s ease;
  background-color: #be252b;
  /* transition: background-color 0.7s ease; */
}

.box:hover i,
.box:hover h3 {
  color: white;
  transition: color 0.4s ease;
}

.box:hover p {
  display: block;
  transition: display 0.5s ease;
}

/* .second-column .box:nth-last-of-type(1) {
  height: 435px;
  background: #be252b;
} */

/* .second-column .box:nth-last-of-type(1) i,
.second-column .box:nth-last-of-type(1) h3 {
  color: white;
} */

/* .second-column .box:nth-last-of-type(1) p {
  color: white;
  padding-top: 20px;
  font-size: 18px;
} */

.box i {
  font-size: 40px;
  padding-bottom: 15px;
  color: #be252b;
}

.box h3 {
  color: #3b3b3b;
}

.box p {
  display: none;
}

.services-text {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  margin-right: 150px;
  text-align: right;
}

.services-text div {
  border-right: 5px solid #be252b;
  padding-right: 20px;
  margin-top: 250px;
}

.services-text h1 {
  font-size: 40px;
  color: white;
}

.services-text p {
  font-size: 30px;
  color: #7d7c7c;
}

/* --------------------------------------------------- Protfolio Section -------------------------------------- */

section#portfolio {
  margin: 250px 0;
  display: flex;
}

.portfolio-text {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.portfolio-text div {
  text-align: right;
  border-right: 5px solid #7ab1be;
  margin-right: 50px;
  padding-right: 20px;
}

.portfolio-text div h1,
h3 {
  color: white;
}

.portfolio-text div h3 {
  color: #7d7c7c;
  /* margin-bottom: 35px; */
}

.portfolio-img {
  flex-grow: 2;
}

.portfolio-img div {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  column-gap: 20px;
  row-gap: 20px;
}

.portfolio-img div img {
  width: 210px;
  height: 210px;
}

/* --------------------------------------------------- Ready text -------------------------------------- */

section#ready {
  background-color: #f19323;
  background-position: right;
  background-size: 60%;
  background-repeat: no-repeat;
  background-image: url(../../assets/imgs/ready-bg.png);
  height: 300px;
}

.btn.btn-success {
  background-color: #ffffff;
  font-weight: bold;
  margin-top: 35px;
  font-size: 1rem;
  border: none;
  display: inline-block;
  border-radius: 12px;
}

/* --------------------------------------------------- clients text -------------------------------------- */

.clients-text {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  text-align: right;
}

.clients-text div {
  border-top: 5px solid #be252b;
  padding-top: 20px;
}

.clients-text h1 {
  font-size: 40px;
  color: white;
}

.clients-text h3 {
  font-size: 30px;
  color: #7d7c7c;
}

/* contacct section */

#map {
  max-width: 886px;
}
.googlemap {
  width: 100%;
  border: 0ex;
}
#contact .container {
  background-color: #858585;
}
#contact ::placeholder {
  color: #cccccc;
}
#contact form .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 1.2rem;
  font-weight: lighter;
  color: white;
  border-radius: 0;
}

.btn.btn-primary {
  background-color: #f19323;
  color: white;
  font-weight: bold;
  margin-top: 35px;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 12px;
}

/* footer section */

footer {
  background-color: #7ab1be;
  height: 300px;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.8;
}

/* --------------------------------------------------- Mobile -------------------------------------- */

@media only screen and (max-width: 600px) {
  #hero {
    background: none;
  }

  .menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #535353;
    transition: top 1s ease;
    display: none;
  }

  .main-menu ul {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .main-menu ul li {
    padding: 7px 0;
  }

  .main-menu ul li a {
    color: white;
    font-size: 20px;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .open-menu {
    display: block;
  }

  .hero-text {
    padding: 110px 0 330px 0;
  }

  section#about {
    margin-top: 150px;
  }

  #about .about-content {
    flex-direction: column;
  }

  .about-text {
    text-align: right;
    margin-right: 10px;
  }

  #services .services-contet {
    flex-direction: column;
  }

  .services-boxs {
    grid-template-columns: 200px;
    column-gap: 35px;
    row-gap: 0;
    padding-left: 0;
  }

  .services-text.services-mob {
    display: block;
  }

  .services-text.services-desk {
    display: none;
  }

  #portfolio {
    margin: 250px 0;
    flex-direction: column;
  }

  .portfolio-img div {
    grid-template-columns: 190px 190px;
    justify-content: center;
  }

  .portfolio-img div img {
    width: 190px;
    height: 190px;
  }
  .portfolio-text {
    margin-bottom: 50px;
  }
}
